/* Use flexbox */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex;
    background-color: aquamarine;
    min-width: 964px;
    max-width: 964px;
    min-height: 964px;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
}