/* Use flexbox */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex;
    background-color: aquamarine;
    min-width: 960px;
    min-height: 960px;
}